@model AdventurousContacts.Models.Contact
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ta bort kontakt</title>
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>
    <div id="main">
        <h1>Bekräfta borttagning av kontakt</h1>
        <div id="deleteBox">            
            <p>
                Vill du ta bort @Model.FirstName @Model.LastName (@Model.EmailAddress)
            </p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <p>
                    <input type="submit" value="Ta bort" />
                </p>
            }
            <div>
                @Html.ActionLink("Tillbaka", "Index")
            </div>
        </div>
    </div>
</body>
</html>
